sudo: required #need super user permission
services:
  - docker

before_install:
  - docker build -t kridsada/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true kridsada/react-test npm run test

after_success:
  - docker build -t kridsada/multi-client ./client
  - docker build -t kridsada/multi-nginx ./nginx
  - docker build -t kridsada/multi-server ./server
  - docker build -t kridsada/multi-worker ./worker
  # Log in to the docker CLI
  echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_EMAIL" --password-stdin
  # take those image into docker hub
  - docker push kridsada/multi-client
  - docker push kridsada/multi-nginx
  - docker push kridsada/multi-server
  - docker push kridsada/multi-worker

# deploy:
#   provider: elasticbeanstalk
#   access_key_id: $AWS_ACCESS_KEY
#   secret_access_key: '$AWS_SECRET_KEY'
#   region: 'us-west-2'
#   app: 'docker-react2'
#   env: 'Dockerreact2-env'
#   bucket_name: 'elasticbeanstalk-us-west-2-060634072842'
#   bucket_path: 'docker-react2'
#   on:
#     branch: master
